<div class="my-form-container">
<a [routerLink]="['/signup']" class="button fancy-button">Registrarse</a>
<a [routerLink]="['/']" class="button fancy-button">Volver</a>
<div class="my-form">
    <form [formGroup]='logInForm' (ngSubmit)="onLogIn()" >
        <div class="form-group">
            <input class='form-control'
                  type="text"
                  formControlName='logEmail'
                  placeholder="Escriba el correo electrónico"
									>
          </div>
          <div *ngIf="logEmail.touched && logEmail.invalid" class="invalid-feedback">

              <div *ngIf="logEmail.errors.required">
                  El correo es obligatorio.
              </div>
              <div *ngIf="logEmail.errors.email">
                 El formato deber ser correoelectrónico@ejemplo.com.
              </div>
            </div>
          <div class="form-group">
             <input class='form-control'
                    type="password"
                    formControlName='logPassword'
                    placeholder="Escriba la contraseña"
									>
            </div>
            <div *ngIf="logPassword.touched && logPassword.invalid" class="invalid-feedback">

                <div *ngIf="logPassword.errors.required">
                   La contraseña es obligatoria.
                </div>
                <div *ngIf="logPassword.errors.minlength">
                    La longitud mínima es 8.
                </div>
              </div>
              <button [disabled]="loading" class="button blue-button">Iniciar Sesión</button>
							<div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </form>
   </div>
</div>
