.mat-menu-item {
    color: black !important;
  }
  
  button.mat-menu-item{
      background-color: white;
  }
  
  button.mat-menu-item:hover {
      background-color: blue;
      color: #fff !important;
  }
